* {

    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-decoration: none;
    text-align: center;
}



body {
    background-image: url("../images/bg.jpg");
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-weight: bolder;
}

.about {

    display: flex;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
   
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
}
.about h2 {
    width: 100%;
}
.me {
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

}

.me img {
    max-width: 350px;
    min-width: 300px;
    border: 10px solid rgba(0, 0, 0, .5);;
    border-radius: 50%;
  
}

.me figcaption {
    font-size: small;
    margin: auto;
    width: 80%;
}

.story {
    max-width: 350px;
    min-width: 300px;
}
.story p {

    font-size: small;
}