* {

    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 22pt;
    text-decoration: none;
    text-align: center;
}

/* scrollbar styling was lifted from W3Schools.com */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2f2f2f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background-color: #000;
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

main {
    display: block;

    background-color: rgba(0, 0, 0, 0.5);
}

header {

    width: 100%;
    position: sticky;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 10px 0 10px;
}

nav>a {
    padding: 10px 10px 0 10px;
}

footer {
    width: 100%;
    align-self: flex-end;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    width: 100%;
    margin-bottom: 0;
}

h3 {
    width: 100%;
    font-size: 1.25em;
    margin-bottom: .25em;
}

p {
    text-align: left;
    text-indent: 1em;
    font-size: .6em;
}

.home {
    display: none;
    animation: fadeOut 5s;
    -webkit-animation: fadeOut 5s;
    -moz-animation: fadeOut 5s;
    -o-animation: fadeOut 5s;
    -ms-animation: fadeOut 5s;
}

figure {
    margin: 1em 0 0 0;
}

.about {

    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    /* the minimum is more likely to be 400px, but this is funny */

}

.about>article {


    min-height: 379px;
}

.bg {
    position: sticky;
    min-width: 100%;
    max-height: 100;
}

.profile {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0;
}

.profile img {
    /* 
    because we have a border around our images, we need to set the max-width
    to 400 - ( border-width * 2 ) 
    */
    min-width: 280px;
    max-width: 380px;
    margin: 0;
    border: 10px solid rgba(100, 100, 100, .25);
    border-radius: 50%;

}

.profile figcaption {
    font-size: .5em;
}

.story {
    margin: auto;
    max-width: 400px;
    min-width: 400px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.pod {
    min-width: 100%;
}

.pod>a>img {
    max-width: 95%;
}

.pod>a>img:hover {
    transform: scale(1.05);
    /* Scale up by 5% on hover */
    opacity: .9;
    border: 2px solid #ffffff;
}

.project {
    width: 50%;
    min-width: 380px;
}

.project>a>img {
    max-width: 90%;
   
}

.project>a>img:hover {
    transform: scale(1.05);
    /* Scale up by 5% on hover */
    opacity: .9;
    border: 2px solid #ffffff;
}

.contact {
    margin-top: 100px;

    align-self: flex-end;
}

#contact-message {
    min-width: 100%;
}

.contact>section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 500px;
    min-width: 100%;
}

.contact>section>a>img {
    max-width: 10em;
}



@media only screen and (max-width: 992px) {
    h3 {
        font-size: 175%;
    }

    .about>article {
        display: flex;
        justify-content: center;
        min-width: 100%;
        margin: auto;

    }

    .profile {
        max-width: 50%;
    }

    .profile img {
        max-width: 40%;

    }

    .profile figcaption,
    .story {
        min-width: 40%;
        margin-top: 0;
    }

}

@media only screen and (max-width: 772px) {
    h3 {
        font-size: 175%;
    }

    .about>article {
        display: block;
    }

    .profile {
        max-width: 100%;
    }

    .profile img {
        min-width: 80%;
    }
    .profile figcaption,
    .story {
        min-width: 90%;
        margin-top: 0;
        font-size: .9em
    }

}