* {

    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 22pt;
    text-decoration: none;
    text-align: center;
}

body {
    background-image: url("../images/bg.jpg");
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: block;
}

header {
    width: 100%;
}

footer {
    width: 100%;
    align-self: flex-end;
}

h1 {
    font-size: 3em;
}
h2 {
   font-size:  2em;
}
p {
    text-align: left;
    text-indent: 1em;
  
}

.about {

    display: flex;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    /* the minimum is more likely to be 400px, but this is funny */
    min-width: 420px;
}
.about h2 {
    width: 100%;
    margin-bottom: 0;
}
.me {
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 300px;
    margin-top: 0;
}

.me img {
    max-width: 280px;
    border: 10px solid rgba(0, 0, 0, .5);;
    border-radius: 50%;
  
}

.me figcaption {
    font-size: .5em;
}

.story {
    align-self: flex-start;
    max-width: 400px;
    min-width:200px;
}
.story p {
    font-size: .6em;
}
.projects {
    
    width: 100%;
    background-color: aliceblue;
}
.pod {  
    
    height: 500px;
    width: 100%;
}