* {
    background-color: black;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    text-align: center;
}

h1 {
    font-weight: bolder;
}

.me {
    display: flex-block;
    margin: auto;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    height: 80%;
    background-color: darkorchid;
}

.me img {
    
    width: 200px;
    height: 200px;
}

.me figcaption {
    font-size: small;
}